tools/pokyuser/.bash_history
tools/pokyuser/.zsh_history
tools/pokyuser/.zcompdump*
tools/pokyuser/.subversion
tools/pokyuser/.wget-hsts

yocto/build/*/cache
yocto/build/*/downloads
yocto/build/*/sstate-cache
yocto/build/*/tmp
yocto/build/*/bitbake-cookerdaemon.log
